@model City.IMS.ViewModels.CitycreateViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="formArea">
    <div>
        @{
            Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div id="citylistingArea">
        @{
            Html.RenderAction("CityTable");
        }
    </div>
    

</div>


