
@model City.IMS.Models.Country


<form id="CreateTable">
    <div class="modal-body">
        <div class="form-group">
            <label>Name</label>
            <input id="name" name="Name" type="text" class="form-control" placeholder="Enter your name" />
        </div>
        <div class="form-group">
            <label>About</label>
            <input class="form-control" name="About" placeholder="Write About">
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" id="saveBtn" class="btn btn-success">Save</button>
            <button type="reset"class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</form>

<script>

    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Country")',
            data: $('#CreateTable').serialize()
        })
            .done(function (response) {
                if (response.success) {
                    ReloadListing()
                       
                } else {
                    console.log("error")
                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

     function ReloadListing() {
        $.ajax({
            url: '@Url.Action("CountryTable", "Country")',
            method: 'Get',
        })
        .done(function (response) {
            $("#countrylistingArea").html(response);
        })
    }
  

</script>
