
<div>
    <div id="formArea">
        @{
            Html.RenderAction("Create");
        }
    </div>
    <hr />
    <div id="countrylistingArea">
        @{
            Html.RenderAction("CountryTable");
        }
    </div>

</div>
